PORT=3000

# DigitalOcean Spaces Configuration
DO_SPACES_KEY=XHSPGEVC3EO1UtuhXNxGl6PPrsguLPqSCi4IorKXDWY
DO_SPACES_SECRET=your_digitalocean_spaces_secret_key
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_BUCKET=your_space_bucket_name

# DigitalOcean Managed Redis URL (e.g. rediss://default:password@host:port)
REDIS_URL=redis://localhost:6379
